openapi: 3.0.3
info:
  title: Dokumen API Cloud Function - OpenAPI 3.0
  description: >-
    Jelaskan disini apa saja yang perlu dijelaskan
    termasuk informasi yang diperlukan untuk dinilai
    term of service isi dari link repo dari swagger ini
  termsOfService: https://github.com/Fancyyy21/Fancyyy21.github.io
  contact:
    email: befousmain@gmail.com
  license:
    name: Peda Package
    url: https://pkg.go.dev/github.com/Fancyyy21/BackendGIS
  version: 1.0.3
externalDocs:
  description: Repo GCF
  url: https://pkg.go.dev/github.com/Fancyyy21/BackendGIS
servers:
  - url: https://asia-southeast2-annular-hexagon-401501.cloudfunctions.net
tags:
  - name: Registrasi
    description: Membuat akun user dengan password terenkripsi
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pkg.go.dev/github.com/Fancyyy21/BackendGIS #yang ini blom diganti ====================================================================
  - name: Login
    description: Mendapatkan token menggunakan akun user yang telah dibuat
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pkg.go.dev/github.com/Fancyyy21/BackendGIS #yang ini blom diganti ====================================================================
  - name: Delete
    description: Menghapus akun user yang telah dibuat
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pkg.go.dev/github.com/Fancyyy21/BackendGIS #yang ini blom diganti ====================================================================
paths:
  /signup-1fancy:
    post:
      tags:
        - Registrasi
      summary: Registrasi User
      description: Membuat akun user dengan password terenkripsi
      operationId: MembuatUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
        - token:
            - write:apiKey
            - read:apiKey
  /signin-1fancy:
    post:
      tags:
        - Login
      summary: Mendapatkan token untuk login
      description: Masukkan username dan password yang telah didaftarkan
      operationId: MembuatTokenUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsernameNPassword'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsernameNPassword'
      security:
        - token:
            - write:apiKey
            - read:apiKey
  /HapusUser:
    delete:
      tags:
        - Delete
      summary: Mendapatkan token untuk login
      description: Masukkan username dan password yang telah didaftarkan
      operationId: MembuatTokenUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsernameOnly'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsernameOnly'
      security:
        - token:
            - write:apiKey
            - read:apiKey
components:
  schemas:
    User:
      type: object
      properties:
        username:
          type: string
          example: maulanaadmin123
        password:
          type: string
          example: maulanaadmin123
        role:
          type: string
          example: user
    UsernameNPassword:
      type: object
      properties:
        username:
          type: string
          example: maulanaadmin123
        password:
          type: string
          example: maulanaadmin123
    UsernameOnly:
      type: object
      properties:
        username:
          type: string
          example: maulanaadmin123
  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'
    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
