openapi: 3.0.3
info:
  title: Dokumen API Cloud Function - OpenAPI 3.0
  description: >-
    Jelaskan disini apa saja yang perlu dijelaskan
    termasuk informasi yang diperlukan untuk dinilai
    term of service isi dari link repo dari swagger ini
  termsOfService: https://github.com/Fancyyy21/Fancyyy21.github.io
  contact:
    email: imanulhaq5@gmail.com
  license:
    name: Peda Package
    url: https://pkg.go.dev/github.com/Fancyyy21/BackendGIS
  version: 1.0.3
externalDocs:
  description: Repo GCF
  url: https://pkg.go.dev/github.com/Fancyyy21/BackendGIS
servers:
  - url: https://asia-southeast2-annular-hexagon-401501.cloudfunctions.net
tags:
  - name: Registrasi
    description: Membuat akun user dengan password terenkripsi
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pkg.go.dev/github.com/Fancyyy21/BackendGIS #yang ini blom diganti ====================================================================
  - name: Login
    description: Mendapatkan token menggunakan akun user yang telah dibuat
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pkg.go.dev/github.com/Fancyyy21/BackendGIS #yang ini blom diganti ====================================================================
paths:
  /signup-1fancy:
    post:
      tags:
        - Registrasi
      summary: Registrasi User
      description: Membuat akun user dengan password terenkripsi
      operationId: MembuatUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
        - token:
            - write:apiKey
            - read:apiKey
  /signin-1fancy:
    post:
      tags:
        - Login
      summary: Mendapatkan token untuk login
      description: Masukkan username dan password yang telah didaftarkan
      operationId: MembuatTokenUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsernameNPassword'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsernameNPassword'
      security:
        - token:
            - write:apiKey
            - read:apiKey
  /BuatGeojsonPoint:
    post:
      tags:
        - Geojson
      summary: Menambah Data Point Geojson
      description: Menambah point geojson ke mongodb
      operationId: MembuatGeojsonPoint
      requestBody:
        content:
          application/json:
           schema:
              $ref: '#/components/schemas/Point'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Point'
      security:
        - token:
            - write:apiKey
            - read:apiKey
  /BuatGeojsonPolyline:
    post:
      tags:
        - Geojson
      summary: Menambah Data Polyline Geojson
      description: Menambah polyline geojson ke mongodb
      operationId: MembuatGeojsonPolyline
      requestBody:
        content:
          application/json:
           schema:
              $ref: '#/components/schemas/Polyline'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Polyline'
      security:
        - token:
            - write:apiKey
            - read:apiKey
  /BuatGeojsonPolygon:
    post:
      tags:
        - Geojson
      summary: Menambah Data Polygon Geojson
      description: Menambah polygon geojson ke mongodb
      operationId: MembuatGeojsonPolygon
      requestBody:
        content:
          application/json:
           schema:
              $ref: '#/components/schemas/Polygon'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Polygon'
      security:
        - token:
            - write:apiKey
            - read:apiKey
  /BuatAmbilDataGeojson:
    get:
      tags:
        - Geojson
      summary: Ambil Data Geojson
      description: Mengambil geojson dari mongodb
      operationId: AmbilDataGeojson
      requestBody:
        content:
          application/json:
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Geojson'
      security:
        - token:
            - write:apiKey
            - read:apiKey
  /Fancy-PostGeoIntersects:
    post:
      tags:
        - GIS 9
      summary: MembuatPostGeoIntersects
      description: MembuatPostGeoIntersects
      operationId: MembuatPostGeoIntersects
      requestBody:
        content:
          application/json:
           schema:
              $ref: '#/components/schemas/GeoIntersects'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoIntersects'
      security:
        - token:
            - write:apiKey
            - read:apiKey
  /Fancy-PostGeoWithin:
    post:
      tags:
        - GIS 9
      summary: MembuatPostGeoWithin
      description: MembuatPostGeoWithin
      operationId: MembuatPostGeoWithin
      requestBody:
        content:
          application/json:
           schema:
              $ref: '#/components/schemas/GeoWithin'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoWithin'
      security:
        - token:
            - write:apiKey
            - read:apiKey
  /Fancy-PostNear:
    post:
      tags:
        - GIS 9
      summary: MembuatPostNear
      description: MembuatPostNear
      operationId: MembuatPostNear
      requestBody:
        content:
          application/json:
           schema:
              $ref: '#/components/schemas/Near'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Near'
      security:
        - token:
            - write:apiKey
            - read:apiKey
components:
  schemas:
    GeoIntersects:
      type: object
      properties:
        longitude:
          type: int
          example: 108.22501803948785
        latitude:
          type: int
          example: -6.835460702759789
    GeoWithin:
      type: object
      properties:
        coordinates: 
              type: array
              example: [[[108.22438461893586, -6.835763418280848],[108.22436602117318, -6.836014967898478],[108.22447199332822, -6.836028555754737],[108.22449199469526, -6.835767599161727],[108.22438461893586, -6.835763418280848]]]
    Near:
      type: object
      properties:
        longitude:
          type: int
          example: 108.2172977377187
        latitude:
          type: int
          example: -6.8281903803652          
    Geojson:
      type: object
      properties:
        type:
          type: string
        geometry:
          type: object
          properties:
            type: 
              type: string
            coordinates: 
              type: array
        properties:
          type: object
          properties:
            name:
              type: string
    Point:
      type: object
      properties:
        type:
          type: string
          example: Feature
        properties:
          type: object
          properties:
            name:
              type: string
              example: Contoh Point
        geometry:
          type: object
          properties:
            type: 
              type: string
              example: Point
            coordinates: 
              type: array
              example:  [103.62304801308028,-1.6286912230149255]
    Polyline:
      type: object
      properties:
        type:
          type: string
          example: Feature
        properties:
          type: object
          properties:
            name:
              type: string
              example: Contoh Polyline
        geometry:
          type: object
          properties:
            type: 
              type: string
              example: LineString
            coordinates: 
              type: array
              example: [[103.62505530793163,-1.6288798067939751],[103.62395435305416,-1.6290723960335356],[103.62136160431874,-1.6280544241267023]]
    Polygon:
      type: object
      properties:
        type:
          type: string
          example: Feature
        properties:
          type: object
          properties:
            name:
              type: string
              example: Contoh Polygon
        geometry:
          type: object
          properties:
            type: 
              type: string
              example: Polygon
            coordinates: 
              type: array
              example: [[[103.62266157176862,-1.6284887975001965],[103.62266157176862,-1.6285986746736683],[103.62284935445302,-1.6285986746736683],[103.62284935445302,-1.6284887975001965],[103.62266157176862,-1.6284887975001965]]]
    User:
      type: object
      properties:
        username:
          type: string
          example: maulanaadmin123
        password:
          type: string
          example: maulanaadmin123
        role:
          type: string
          example: user
    UsernameNPassword:
      type: object
      properties:
        username:
          type: string
          example: maulanaadmin123
        password:
          type: string
          example: maulanaadmin123
    UsernameOnly:
      type: object
      properties:
        username:
          type: string
          example: maulanaadmin123
  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'
    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
